{% extends "shuup/admin/base.jinja" %}
{% from "shuup/admin/macros/general.jinja" import single_section_form with context %}
{% from "shuup_firebase_auth/macros/address.jinja" import render_address_forms, render_address_forms_js %}
{% from "shuup_firebase_auth/macros/buttons.jinja" import save_changes_button %}
{% from "shuup_firebase_auth/macros/contact.jinja" import render_person_contact_form %}

{% block title %}{% trans %}My Profile{% endtrans %}{% endblock %}

{% block content %}
    {% call single_section_form("customer_information_form", form) %}
        {% csrf_token %}
        {% for field in form.contact.hidden_fields() %}{{ field|safe }}{% endfor %}
        <p id="firebaseui-auth-container-reset-password-msg"></p>
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary password-reset-button">
                    <i class="fa fa-cog"></i> {% trans %}Reset password{% endtrans %}
                </button>
            </div>
            {{ save_changes_button() }}
        </div>
        <div class="clearfix"></div>
        {{ render_person_contact_form(form.contact) }}
        {{ render_address_forms(form.billing, None) }}
        <div class="btn-toolbar pull-right" role="toolbar">
            {{ save_changes_button() }}
        </div>
        <div class="clearfix"></div>
    {% endcall %}
{% endblock %}

{% block extra_js %}
    {{ render_address_forms_js() }}
    <script>
        window.sendResetPasswordEmail = function sendResetPasswordEmail() {
            firebase.auth().useDeviceLanguage();
            var user = firebase.auth().currentUser;
            firebase.auth().sendPasswordResetEmail(user.email).then(function() {
                const p = $("<p>")
                    .text(interpolate(gettext("Password reset email sent to %s.", [user.email])))
                $("#firebaseui-auth-container-reset-password-msg").html(p);
                window.location = "/logout/";
            }).catch(function(error) {
                const p = $("<p>")
                    .text('{{ _("Sending password reset email failed. Please try again later.") }}')
                $("#firebaseui-auth-container-reset-password-msg").html(p);
            });
        }

        $(".password-reset-button").on("click", () => {
            if (confirm('{{ _("Are you sure? You will be logged out and sent email with instructions to reset your password.") }}')) {
                window.sendResetPasswordEmail();
            }
        })
    </script>
{% endblock %}
